* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

.nav-item:hover {
  transition: all 0.5s;
  background-color: white;
  border-radius: 0.3cm; }

.zoom-wrapper:hover {
  transform: scale(1.5); }

.navbar {
  background-color: #00b800; }
  .navbar .navbar-collapse {
    margin-right: auto;
    justify-content: flex-end; }
  .navbar .nav-link {
    font-weight: bold; }
  .navbar .nav-item {
    font-weight: bold; }

/* ---- FOOTER ----- */
.footer-main {
  display: grid;
  background-color: #2f2f2f;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "izq" "der";
  padding: 25px 32px 50px 32px;
  color: white; }
  .footer-main h3 {
    font-size: 25px;
    padding-bottom: 20px;
    text-transform: uppercase; }
  .footer-main img {
    width: 30px;
    gap: 16px; }
  .footer-main .izq {
    grid-area: izq; }
  .footer-main .der {
    grid-area: der;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end; }
  .footer-main a {
    text-decoration: none;
    color: white;
    text-decoration: underline; }
  .footer-main .der h4 {
    text-transform: uppercase;
    margin-top: 10px; }
  .footer-main .contact-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px 0; }
  .footer-main .contact-item img {
    width: 20px; }
  @media (min-width: 992px) {
    .footer-main {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr;
      gap: 0px 0px;
      grid-template-areas: "izq der";
      background-color: #2f2f2f;
      padding: 25px 32px 50px 32px;
      color: white; }
      .footer-main .der {
        grid-area: der;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end; } }

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-auto-flow: column;
  grid-template-areas: "area1" "area2" "area3";
  margin: 10px; }
  .main-content .area1 {
    display: flex;
    flex-direction: column; }
    .main-content .area1 .texto-principal {
      grid-area: texto-principal; }
      .main-content .area1 .texto-principal .main-text {
        font-weight: bold; }
      .main-content .area1 .texto-principal .texto2 {
        font-weight: bold;
        text-transform: uppercase; }
  .main-content .area2 {
    grid-area: area2; }
    .main-content .area2 img {
      max-width: 100%;
      height: auto;
      border-bottom: 25px solid #00b800; }
  .main-content .area3 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-auto-flow: column;
    grid-template-areas: "caja1 caja2 caja3";
    grid-area: area3;
    margin: 10px; }
    .main-content .area3 .caja1 {
      grid-area: caja1;
      background-color: #008000;
      border-radius: 0.5cm; }
      .main-content .area3 .caja1 .textcaja1 {
        margin: 30px;
        color: white;
        font-weight: bold; }
      .main-content .area3 .caja1 img {
        margin-left: 30px;
        margin-bottom: 20px; }
    .main-content .area3 .caja2 {
      grid-area: caja2;
      background-color: #9eff90;
      border-radius: 0.5cm; }
      .main-content .area3 .caja2 .textcaja2 {
        margin: 30px;
        color: #003404;
        font-weight: bold; }
      .main-content .area3 .caja2 img {
        margin-left: 30px;
        margin-bottom: 20px; }
    .main-content .area3 .caja3 {
      grid-area: caja3;
      background-color: #008000;
      border-radius: 0.5cm; }
      .main-content .area3 .caja3 .textcaja3 {
        margin: 30px;
        color: white;
        font-weight: bold; }
      .main-content .area3 .caja3 img {
        margin-left: 30px;
        margin-bottom: 20px; }

.repre-texto {
  text-align: center;
  font-weight: bold; }

.repre-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 12px;
  align-items: center; }
  .repre-img .zoom-wrapper {
    transition: transform 0.8s;
    height: 100%; }

.repre-img img {
  width: 200px; }

.aseg-texto {
  text-align: center;
  margin: 20px; }

.carousel-slide {
  margin: 10px; }

@media (min-width: 200px) {
  .caja3 {
    display: none; } }

@media (min-width: 992px) {
  .main-content {
    display: grid;
    grid-template-columns: 0.7fr 0.4fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "area1 area2" "area1 area2" "area3 area3";
    margin: 10px; }
  .area1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 10px; }
    .area1 .texto-principal {
      grid-area: texto-principal; }
      .area1 .texto-principal .main-text {
        font-weight: bold;
        font-size: 60px; }
    .area1 .texto2 {
      font-weight: bold;
      text-transform: uppercase; }
  .area2 {
    grid-area: area2; }
    .area2 img {
      max-width: 100%;
      height: auto;
      border-left: 25px solid #00b800;
      border-bottom: 0px solid white; }
  .area3 {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: "caja1 caja2 caja3";
    grid-area: area3;
    margin: 10px; }
  .caja1 {
    grid-area: caja1;
    background-color: #008000;
    border-radius: 0.5cm; }
    .caja1 .textcaja1 {
      margin: 30px;
      color: white;
      font-weight: bold; }
    .caja1 img {
      margin-left: 30px; }
  .caja2 {
    grid-area: caja2;
    background-color: #9eff90;
    border-radius: 0.5cm; }
    .caja2 .textcaja2 {
      margin: 30px;
      color: #003404;
      font-weight: bold; }
    .caja2 img {
      margin-left: 30px; }
  .caja3 {
    grid-area: caja3;
    background-color: #008000;
    border-radius: 0.5cm;
    display: inline; }
    .caja3 .textcaja3 {
      margin: 30px;
      color: white;
      font-weight: bold; }
    .caja3 img {
      margin-left: 30px; }
  .repre-texto {
    text-align: center;
    font-weight: bold; }
  .repre-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 12px;
    align-items: center; }
    .repre-img .zoom-wrapper {
      transition: transform 0.8s;
      height: 100%; }
  .repre-img img {
    width: 200px; }
  .aseg-texto {
    text-align: center;
    margin: 20px; }
  .carousel-slide {
    margin: 10px; } }
