.nav-item:hover{
    transition: all 0.5s;
    background-color: rgb(255, 255, 255);
    border-radius: 0.3cm;

}

.zoom-wrapper:hover{
    transform:scale(1.5) ;
}


.animate__animated.animate__backInLeft{
    animation-duration: 3s;
}

.animate__animated.animate__bounceInUp{
    animation-duration: 2s;
}