// paleta de colores //
$colores-50: #e9ffe4;
$colores-100: #ccffc4;
$colores-200: #9eff90;
$colores-300: #5fff50;
$colores-400: #29fe1d;
$colores-500: #07e500;
$colores-600: #00b800;
$colores-700: #008000;
$colores-800: #076d08;
$colores-900: #0b5c0d;
$colores-950: #003404;

// paleta de colores //


