.formulario-turnos {
    .texto-turno {
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px;
    }

    .formulario {
        margin-right: 3vw;
        margin-left: 3vw;
        background-color: $colores-900;
        border: 10px solid $colores-900;
        border-radius: 0.2cm;
        margin-bottom: 20px;
    }

    .form-control {
        border-color: black;
        background-color: $colores-100;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .form-select {
        border-color: black;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $colores-100;
    }

    p {
        color: white;
        margin-left: 5px;
    }

    .form-check-label {
        color: white;
    }


    .btn {
        align-items: center;
        margin: 20px 20px 20px 0px;
    }
}

@media (min-width: 992px) {

    .formulario-turnos {
        .texto-turno {
            font-weight: bold;
            text-transform: uppercase;
            margin: 20px;
        }

        .formulario {
            margin-right: 15vw;
            margin-left: 15vw;
            background-color: $colores-900;
            border: 10px solid $colores-900;
            border-radius: 0.2cm;
            margin-bottom: 20px;

            .form-control {
                border-color: black;
                background-color: $colores-100;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-right: 60vw;
            }


            .form-select {
                border-color: black;
                margin-top: 10px;
                margin-bottom: 10px;
                background-color: $colores-100;
            }

            p {
                color: white;
                margin-left: 5px;
            }

            .form-check-label {
                color: white;
            }


            .btn {
                align-items: center;
                margin: 20px 20px 20px 0px;
            }



        }
    }
}